<div class=login-page>
    <div class=img-container>
        <div class="text-center pull-right photo"><img src=images/bell.png
                                                       class="user-avatar img-circle img-responsive">

            <h1>Ultimative<br> <span>T&Uuml;RKLINGEL</span><br>
                <small>powered by Raspberry Pi (TM)</small>
            </h1>
        </div>
    </div>
    <div class=form-content>
        <div class=pro-link></div>
        <form role=form class=bottom-75 ng-submit=submit()>
            <div class=table-form>
                <div class=form-groups>
                    <div class=form-group><input type=text class="form-control input-lg" placeholder=USERNAME></div>
                    <div class=form-group><input type=password class="form-control input-lg" placeholder=PASSWORT></div>
                </div>
                <div class=button-container>
                    <button type=submit class="btn btn-default login"><img src=images/arrow.png></button>
                </div>
            </div>
            <div class=remember><label class=checkbox1 for=Option> <input id=Option type=checkbox> <span></span>
            </label> Passwort merken?</div>
        </form>
    </div>
</div>